@{
    ViewData["Title"] = "About";
}

<div class="page-title dark-background" data-aos="fade"
    style="background-image: url('@Url.Content("~/img/storage-tank.jpg")');">
    <div class="container position-relative">
        <h1>About</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a href="/">Home</a></li>
                <li class="current">About</li>
            </ol>
        </nav>
    </div>
</div>

<div id="about" class="about section ">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Our Story</h2>
        <p><span>Find Out More</span> <span class="description-title">Who We Are.
            </span></p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-3">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

                <img src="~/img/storage-tank.jpg" alt="" class="img-fluid">

            </div>

            <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                <div class="about-content ps-0 ps-lg-3">
                    <h3>Arindam Engineering would continue to initiate actions to strengthen the current relationship
                        with
                        customers for long term business partnership.</h3>
                    <p class="fst-italic">
                        We are a credible company who can deliver quality job in time. Depending on supporting and trust
                        of our
                        customers, we shall get good achievements, we will live up to other's high expectations,
                        striving to
                        manufacture the best in the eld, reviving our nation's industry and create a better tomorrow.
                    </p>
                    <ul>
                        <li>
                            <i class="bi bi-diagram-3"></i>
                            <div>
                                <h4>Production capacity</h4>
                                <p>We have a Production capacity of 200 Tons/Month with work area of 20000 Sq Ft.</p>
                            </div>
                        </li>
                        <li>
                            <i class="bi bi-fullscreen-exit"></i>
                            <div>
                                <h4>Project Execution Monitoring & Coordination Activities</h4>
                                <p>Periodic execution progress reviews, cost tracking, contingency planning, chasing up
                                    engineering,
                                    deliveries, erection and commissioning activities, internal and external
                                    documentation.</p>
                            </div>
                        </li>


                    </ul>

                </div>

            </div>
        </div>

    </div>

</div>

<div class="mission-section" >
    <div class=" mission-box approach" id="approach" data-aos="fade-up">
        <figure >
            <img src="~/img/our-approch-icon.png" alt="Our-Approach-Icon">
        </figure>
        <div class="second-heading">
            <h4><span></span> Our Approach</h4>
        </div>
        @* <p>We believe in partnership-driven progress. At Arindam Engineering, our approach is rooted in:</p> *@
        <ul>
            <p data-aos="fade-up" data-aos-delay="100">
                We work closely with clients to understand their goals, offering tailored solutions and support at every
                stage.
            </p>
            <p data-aos="fade-up" data-aos-delay="200">
                Utilizing modern design and management tools like AutoCAD, CREO, SolidWorks, ANSYS, Primavera, and MS
                Project for precision and efficiency.

            </p>
            @* <li data-aos="fade-up" data-aos-delay="300">
                From fabrication to erection and commissioning, we manage the complete lifecycle with professionalism
                and
                control.</li> *@
            <p data-aos="fade-up" data-aos-delay="400"> We effectively manage manpower, materials, and time to maintain high productivity and quality.<br />
            </p>
            <p data-aos="fade-up" data-aos-delay="500">
                Regular progress reviews, cost tracking, and risk management ensure we stay aligned with project goals
                and
                client expectations.
            </p>
            @* <p data-aos="fade-up" data-aos-delay="600">
                We comply with national and international standards, ensuring every deliverable meets strict quality
                benchmarks.
            </p> *@
        </ul>
    </div>
    <div class=" mission-box mission-bg vision" id="vision" data-aos="fade-up">
        <figure>
            <img src="~/img/vision-mission-icon.png" alt="Vision-&amp;-Mission-Icon">
        </figure>
        <div class="second-heading">
            <h4><span></span> Our Mission</h4>
        </div>
        @* <p>At Arindam Engineering, our mission is to deliver high-quality engineering solutions that exceed our clients’
            expectations and contribute to the growth of national industry.
            We are committed to:</p> *@
        <ul>
            <p data-aos="fade-up" data-aos-delay="100"> Building long-term business relationships based on trust, quality, and timely delivery.</p>
            <p data-aos="fade-up" data-aos-delay="200">Supporting our clients with superior engineering, fabrication, and commissioning services.</p>
            <p data-aos="fade-up" data-aos-delay="300"> Driving innovation and excellence through advanced tools, skilled manpower, and a commitment to
                productivity.</p>
            <p data-aos="fade-up" data-aos-delay="400"> Our mission reflects our dedication to reviving and uplifting industrial excellence while creating a
                sustainable and successful future for all stakeholders.</p>
        </ul>
    </div>
</div>

<!-- Faq Section -->
<section id="faq" class="faq section">
    <div class="container section-title" data-aos="fade-up">
        <h2>QUALITY POLICY</h2>
        <p><span>Our Commitment to</span> <span class="description-title">Quality & Excellence</span></p>
    </div><!-- End Section Title -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="faq-container">
                    <div class="faq-item faq-active" data-aos="fade-up" data-aos-delay="200">
                        <i class="faq-icon bi bi-question-circle"></i>
                        <h3> What is Arindam Engineering’s commitment to quality?</h3>
                        <div class="faq-content">
                            <p>Arindam Engineering Management is committed to delivering quality assurance services that
                                meet National and International standards. Our focus is on technical competence and
                                ensuring all services meet and sustain customer specifications and expectations.
                            </p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->
                    <div class="faq-item" data-aos="fade-up" data-aos-delay="300">
                        <i class="faq-icon bi bi-question-circle"></i>
                        <h3>Which areas does this quality commitment cover?</h3>
                        <div class="faq-content">
                            <p>Our quality commitment applies to various domains including:</p>
                            <ul>
                                <li>Engineering</li>
                                <li>Fabrication</li>
                                <li>Equipment Supply</li>
                                <li>Erection & Commissioning</li>
                            </ul>
                            <p>We also adhere to all job-relevant quality policies and respond to customers’ intended
                                and implied needs.</p>
                            </p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->
                    <div class="faq-item" data-aos="fade-up" data-aos-delay="400">
                        <i class="faq-icon bi bi-question-circle"></i>
                        <h3>How do you ensure continuous improvement?</h3>
                        <div class="faq-content">
                            <p>We drive improvement through:</p>
                            <ul>
                                <li>Ongoing enhancement of business processes</li>
                                <li>A culture of innovation</li>
                                <li>Higher productivity</li>
                                <li>Effective human resource management</li>
                            </ul>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->
                    <div class="faq-item" data-aos="fade-up" data-aos-delay="300">
                        <i class="faq-icon bi bi-question-circle"></i>
                        <h3>How is the quality policy communicated and maintained?</h3>
                        <div class="faq-content">
                            <p>We ensure that our Quality Policy is:</p>
                            <ul>
                                <li>Clearly communicated across all levels of the organization</li>
                                <li>Fully understood by all employees</li>
                                <li>Consistently implemented and actively maintained</li>
                                <li>Regularly reviewed for effectiveness and improvement</li>
                            </ul>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->
                </div>
            </div>
        </div>
    </div>
</section><!-- /Faq Section -->
<!-- Clients Section -->
    <div class="client-about-section section light-background">
              <div class="overlay"></div>

      <div class="container section-title" data-aos="fade-up">
         <h2>Valued Partners</h2>
        <p><span>Meet Our&nbsp;</span> <span class="description-title">Clients</span></p>
      </div><!-- End Section Title -->
            <div class="container">

        <div class="clients-about">
          <ul class=" align-items-center">
            <li><figure><img src="~/img/clients/Atlanta.png" class="img-fluid" alt=""></figure></li>
            <li><figure><img src="~/img/clients/castrol.png" class="img-fluid" alt=""></figure></li>
            <li><figure><img src="~/img/clients/danieli.png" class="img-fluid" alt=""></figure></li>
            <li><figure><img src="~/img/clients/elecon.png" class="img-fluid" alt=""></figure></li>
                                    <li><figure><img src="~/img/clients/texhnifab.png" class="img-fluid" alt=""></figure></li>

            <li><figure><img src="~/img/clients/glascoat.png" class="img-fluid" alt=""></figure></li>
            <li><figure><img src="~/img/clients/mcl.png" class="img-fluid" alt=""></figure></li>
            <li><figure><img src="~/img/clients/sms-group.png" class="img-fluid" alt=""></figure></li>
            <li><figure><img src="~/img/clients/tacklers.png" class="img-fluid" alt=""></figure></li>
            <li><figure><img src="~/img/clients/texmaco-logo.png" class="img-fluid" alt=""></figure></li>
            <li><figure><img src="~/img/clients/pyrogreen.png" class="img-fluid" alt=""></figure></li>
                        <li><figure><img src="~/img/clients/sterling&wilson.png" class="img-fluid" alt=""></figure></li>
                        <li><figure><img src="~/img/clients/telematrix.png" class="img-fluid" alt=""></figure></li>
                        <li><figure><img src="~/img/clients/pollucon-enviro-eng.png" class="img-fluid" alt=""></figure></li>


          </ul>

        </div>
      </div>
    </div>
    <!-- /Clients Section -->


@* <section id="stats" class="stats section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center">
                <i class="bi bi-emoji-smile"></i>
                <div class="stats-item">
                    <span data-purecounter-start="0" data-purecounter-end="50" data-purecounter-duration="1"
                        class="purecounter"></span>
                    <p>Happy Clients</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center">
                <i class="bi bi-journal-richtext"></i>
                <div class="stats-item">
                    <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1"
                        class="purecounter"></span>
                    <p>Project Optimization</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center">
                <i class="bi bi-people"></i>
                <div class="stats-item">
                    <span data-purecounter-start="0" data-purecounter-end="28" data-purecounter-duration="1"
                        class="purecounter"></span>
                    <p>Staff Members</p>
                </div>
            </div>



        </div>

    </div>

</section> *@
<div class="certificates" id="certificates">
     <div class="container section-title" data-aos="fade-up">
         <h2>certificates</h2>
        <p><span>Our Commitment to&nbsp;</span> <span class="description-title">Standards & Quality</span></p>
      </div><!-- End Section Title -->
            <div class="container">
        <div class="certificates-section">
            <div class="certificates-left">
                <figure>
                    <img src="https://www.arvindcorrotech.com/wp-content/uploads/2023/10/Untitled-4.jpg"
                        alt="ISO-9001:2015">
                </figure>
                <div class="iso-title">
                    <img src="~/img/iso-white.png"
                        alt="iso-white">
                    <h4>ISO 9001:2015</h4>
                </div>
                <p>ISO 9001:2015 certificate for Design, Manufacturing &#038; Supply of Hot Dip Galvanizing Plant</p>
            </div>
            <div class="certificates-right">
                <div class="certificates-box">
                    <figure>
                        <img src="https://www.arvindcorrotech.com/wp-content/uploads/2023/10/Untitled-5.jpg"
                            alt="Infrastructure">
                    </figure>
                    <div class="certificates-box-content">
                        <div class="iso-title">
                            <img src="~/img/iso-blue.png"
                                alt="iso-blue">
                            <h4>MSME </h4>
                        </div>
                        <p>MSME Certificate</p>
                    </div>
                </div>
                <div class="certificates-box">
                    <figure>
                        <img src="https://www.arvindcorrotech.com/wp-content/uploads/2023/10/Untitled-6.jpg"
                            alt="Infrastructure">
                    </figure>
                    <div class="certificates-box-content">
                        <div class="iso-title">
                            <img src="~/img/iso-blue.png"
                                alt="iso-blue">
                            <h4>UDYAM </h4>
                        </div>
                        <p>UDTAM Registration Certificate</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</div>
</div>