@{
    ViewData["Title"] = "Services";
}

<h2>Our Services</h2>
<ul>
    <li>Consulting</li>
    <li>Design & Development</li>
    <li>Project Management</li>
    <li>Support & Maintenance</li>
</ul> 